/* LOGIN FORM */

.login-body {
    background: linear-gradient(rgba(167, 160, 132, 0.226),
            rgba(3, 3, 3, 0.616)),
        url('/storage/frontend_assets/login-register/bg-login.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}


.login-box {
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

/* .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} */

.bg-form-login {
    background-color: rgba(207, 207, 207, 0.418);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
}

.forgot-pass a:hover {
    color: rgb(255, 217, 0) !important;
}

.login-alert {
    background-color: rgb(173, 60, 60);
    color: white;
    animation: slideUp 0.5s forwards;

}

.to-register a:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(255, 145, 0) !important;
    border-radius: 5px;
}

/* END LOGIN FORM */

.error-input {
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 5px;
    color: red;
    animation: slideDown 0.5s forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* FORM REGISTER */
.register-body {
    background: linear-gradient(rgba(167, 160, 132, 0.226), rgba(3, 3, 3, 0.616)),
        url('/storage/frontend_assets/login-register/bg-login.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.register-box {
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    object-position: center;
}

.register-alert {
    background-color: rgb(173, 60, 60);
    color: white;
}

.bg-form-register {
    background-color: rgba(207, 207, 207, 0.418);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);

}

/* END REGISTER */