@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    /* margin: 0;
padding: 0; */
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: #ffffff;
    /* background: url('/storage/frontend_assets/background/bg-home.jpg') no-repeat; */
    background-size: cover;
    background-position: center;
}

.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 10;
    background-color: #1a682d;
    /* Success color */
    color: white;
    border: none;
    border-radius: 100%;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

.back-to-top:hover {
    background-color: #218838;
    /* Darker success color */
}



.header-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: background-color 0.3s, color 0.3s;
    /* Menambahkan transisi untuk warna latar belakang dan teks */
    background-color: transparent;
}

.nav-scroll.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    /* Warna latar belakang saat di-scroll */
}

.header-navbar.scrolled .logo {
    filter: invert(1);
}

.header-navbar.scrolled .navbars a {
    color: #fff;
    /* Warna teks saat navbar scrolled */
}

.header-navbar.scrolled .navbars a:hover {
    color: #2DA700;
    /* Warna teks saat navbar scrolled */
}

.header-navbar.scrolled .navbars a.active {
    color: #47c920;
    /* text-shadow: 0 0 1px white; */

    /* Warna teks saat navbar scrolled */
}



.header-navbar.scrolled .navbars .dropdowns a {
    color: #fff;
    /* Warna teks saat navbar scrolled */
}

.header-navbar.scrolled .navbars .dropdowns a:hover {
    color: #2DA700;
    /* Warna teks saat navbar scrolled */
}

.header-navbar.scrolled .navbars .dropdowns a.active {
    color: #47c920;
    /* Warna teks saat navbar scrolled */
}

.header-navbar.scrolled .navbars .dropdown-contents a {
    color: #fff;
    /* Warna teks saat navbar scrolled */
}

.header-navbar.scrolled .navbars .dropdown-contents {
    background-color: #00000070;
    backdrop-filter: blur(5px);

    /* Warna teks saat navbar scrolled */
}

.header-navbar.scrolled .navbars .dropdown-contents a:hover {
    color: #2DA700;
    /* Warna teks saat navbar scrolled */
}

.header-navbar.scrolled .navbars .dropdown-contents a.active {
    color: #b7ff8d;
    /* Warna teks saat navbar scrolled */
}

.header-navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(207, 207, 207, 0.13);
    backdrop-filter: blur(1px);
    z-index: -1;
}


.logo {
    /* font-size: 1rem; */
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    /* font-weight: 700; */
}

.logo img {
    width: 7rem;
    /* height: 24p; */
    /* Sesuaikan ukuran gambar sesuai kebutuhan Anda */
    margin: 0 !important;
    padding: 0 !important;
    filter: invert(-1);
    /* Beri jarak antara img dan p */

}

.logo p {
    margin: 0;
    width: 100%;
    /* Hilangkan margin default dari paragraf */
}


.navbars a {
    position: relative;
    display: inline-block;
    font-size: 0.8rem;
    color: #1b1b1b;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1rem;
    transition: color 0.5s ease;
}

.navbars a.active {
    color: #498027;
    font-weight: bold;
}

.navbars .dropdowns.active>a {
    color: #fdfcdc;
    font-weight: bold;
}

.navbars a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #498027;
    transition: width 0.5s ease;
}

.navbars a:hover {
    color: #498027;
    /* transition: 0.5s ease; */
}

.navbars a:hover::after {
    width: 100%;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* Pengecualian untuk btn-login */
.navbars .btn-login {
    color: #131313;
    transition: 0.5s ease-out;

    /* border-radius: 45%; */
}

.navbars .btn-login:hover {
    color: #ffffff !important;
    background-color: #507558;
    transition: background-color 0.5s ease-in;
    /* Warna teks tetap putih saat hover */
}

.navbars .btn-login::after {
    content: none;
    /* Hapus efek underline */
}



/* BREAKPOINTS */

@media(max-width: 992px) {
    .header-navbar {
        padding: 1.3rem 5%;
    }
}


@media(max-width: 768px) {
    .nav-scroll-2.scrolled {
        background-color: rgba(0, 0, 0, 0.8);
        /* Warna latar belakang saat di-scroll */
    }

    /* .nav-brand.scrolled img {
        filter: invert(-1) !important;
    } */

    /* NAVBAR  */
    .header-navbar::before {
        background: #b1b1b13f;

    }

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .header-navbar.scrolled .logo img {
        filter: none;
    }

    .header-navbar .logo img {
        filter: invert(1);
    }

    .navbars {
        position: absolute;
        top: 100%;
        background: rgba(192, 192, 192, 0.486);
        backdrop-filter: blur(5px);
        left: 0;
        width: 100%;
        height: 0;
        /* Mengatur tinggi otomatis */
        max-height: 100vh;
        /* Membatasi tinggi maksimal agar tidak melebihi viewport */
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow-y: auto;
        /* Menambahkan scrollbar vertikal */
        transition: .3s ease;
    }

    #check:checked~.navbars {
        height: auto;
        /* height: 17.7rem; */
    }

    .navbars a.active {
        color: #2DA700;
        font-weight: bold;
    }

    .navbars .dropdowns.active>a {
        color: #2DA700;
        font-weight: bold;
    }

    .navbars a:hover {
        color: #c8f9ac;
        /* transition: 0.5s ease; */
    }

    .navbars a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    .navbars .dropdowns {
        display: block;
        text-align: center;
        margin: 1.5rem 0;
        /* Memberi margin antar dropdowns */
    }

    .navbars .dropdowns .dropdown-contents {
        position: static;
        /* Mengubah posisi menjadi static */
        display: none;
        /* Menyembunyikan konten dropdown awalnya */
        background-color: rgba(255, 255, 255, 0.6);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        list-style: none;
        padding: 0;
        margin: 0;
        left: 0;
        transform: translateX(0);
        top: 0;
    }

    .navbars .dropdowns:hover .dropdown-contents,
    .navbars .dropdowns .dropbtn:focus+.dropdown-contents {
        display: block;
        /* Menampilkan konten dropdown saat hover atau fokus */
    }

    #check:checked~.navbars a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }



    /* END NAVBAR */


}


/* NAVBAR */

/* Gaya dasar untuk dropdown */
.dropdowns {
    position: relative;
    display: inline-block;
    color: #1b1b1b;

}

/* Gaya untuk tombol dropdown */
.dropdowns .dropbtn {
    /* padding: 10px; */
    text-decoration: none;
    /* color: white; */
    /* Mengubah warna teks tombol */
    display: block;
}

/* Gaya untuk konten dropdown */
.dropdown-contents {
    display: none;
    /* Awalnya sembunyikan konten */
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    top: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    /* Warna putih dengan opacity 60% */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Gaya untuk setiap item dalam dropdown */
.dropdown-contents li {
    padding: 0;
    /* Hilangkan padding pada <li> */
    margin: 0;
    /* Hilangkan margin pada <li> */
}

/* Gaya untuk link dalam dropdown */
.dropdown-contents li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    /* Pindahkan padding ke <a> */
    margin: 0;
    /* Hilangkan margin pada <a> */
}

/* Tampilkan konten dropdown saat hover pada tombol dropdown */
.dropdowns:hover .dropdown-contents {
    display: block;
}

/* Gaya tambahan saat link dalam dropdown di-hover */
.dropdown-contents li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Warna latar saat hover dengan opacity */
}


/* END NAVBAR */

/* CAROUSEL */
.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    /* transition: transform 0.8s ease; */
    /* min-height: 35rem; */
    /* padding: 15rem 0; */
}

.carousel-inner,
.carousel-item,
.carousel-item img {
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.carousel-btn-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel-control-prev {
    left: 10px;
    /* Anda bisa mengatur ini sesuai kebutuhan */
}

.carousel-control-next {
    right: 10px;
    /* Anda bisa mengatur ini sesuai kebutuhan */
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-caption h1 {
    font-size: 3rem;
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 900;
    /* Adjust as necessary */
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-caption p {
    font-size: 1.25rem;
    font-family: 'Manrope', sans-serif;
    /* Adjust as necessary */
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 992px) {
    .carousel-caption h1 {
        font-size: 2.5rem;
        /* Adjust font size for medium screens */
    }

    .carousel-caption p {
        font-size: 1rem;
        /* Adjust font size for medium screens */
    }

    .carousel h1,
    .carousel .h1 {
        font-size: 3rem;
        line-height: 2rem;
        letter-spacing: 0.3rem;
    }

}

@media (max-width: 768px) {
    .header-navbar {
        background-color: #1b1b1b;
        transition: 0.3s ease-in-out;
        /* transform: translateY(0);animation: slideInFromTop 0.8s ease-out forwards; */
    }

    .carousel {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 5.7rem;
        transition: 0.8s ease-in-out;

    }

    /* Keyframes for slide-in animation from top */
    /* @keyframes slideInFromTop {
        0% {
            transform: translateY(-80%);
        }

        100% {
            transform: translateY(0);
        }
    } */

    /* .header-navbar,
.carousel {
    animation: slideInFromTop 0.8s ease-out forwards;
} */

    .carousel-caption {
        padding: 4rem;
        /* Add more padding for smaller screens */
    }

    .carousel-caption h1 {
        font-size: 1rem;
        /* Adjust font size for small screens */
    }

    .carousel-caption p {
        font-size: 8pt;
        /* Adjust font size for small screens */
    }
}

/* END CARAOUSEL */


/*PACKAGES CONTENT */

.btn-package {
    background: #507558;
    color: #fff;
}

.btn-package:hover {
    background: #85a870;
    color: #fff;
}

.card-package {
    height: 100%;
}

.card-package img {
    height: 500px;
    object-fit: cover;
    object-position: center;

    transition: transform 0.5s ease, filter 0.5s ease;
}

.card-package .card-img-container img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    /* transition: filter 0.5s ease; */
}

.card-package .card-img-container {
    overflow: hidden;
    height: 500px;

}

/* PHOTOSHOOT PACKAGES */
.card-photoshoot-package {
    height: 100%;
    width: 100%;
}

.card-photoshoot-package img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;

    transition: transform 0.5s ease, filter 0.5s ease;
}

.card-photoshoot-package .card-img-container-photoshoot img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    /* transition: filter 0.5s ease; */
}

.card-photoshoot-package .card-img-container-photoshoot {
    overflow: hidden;
    height: 400px;
    width: 100%;
}

/* DETAIL PACKAGE */
.thumb-detail {
    height: 100%;
    /* width: 100%; */
}

.img-photoshoot-detail-container img {
    height: 450px;
    /* width: 100%; */
    object-fit: cover;
    object-position: center;

    transition: transform 0.5s ease, filter 0.5s ease;
}

.thumb-detail .img-photoshoot-detail-container img:hover {
    transform: scale(1.1);
    /* filter: brightness(1.2); */
    /* transition: filter 0.5s ease; */
}

.thumb-detail .img-photoshoot-detail-container {
    overflow: hidden;
    height: 450px;
    /* width: 100%; */
}

.card-photoshoot-detail {
    background-color: rgba(188, 212, 181, 0.415);
}

.bg-harga-detail {
    background-color: #1a682d;
}

.scrollable-container {
    -ms-overflow-style: none;
    /* for IE and Edge */
    /* scrollbar-width: none; */
    /* for Firefox */
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    /* add some padding to make it look nicer */
}

/* .scrollable-container::-webkit-scrollbar {
    display: none;
} */

.latest-stories-img-photoshoot-detail {
    display: inline-block;
    margin: 10px;
}



/* END PHOTOHSHOOT PACKAGES */

/* END PACKAGES CONTENT */


/* BOOKING */

:root {
    --fc-border-color: white;
    --fc-daygrid-event-dot-width: 5px;
    --fc-color: white;
}

.fc-event,
.fc-event-dot,
.fc-daygrid-event {
    color: white;
    /* Mengatur warna teks menjadi putih */
    text-decoration: none;
    /* Menghilangkan dekorasi teks */
}



/* Mengatur warna teks untuk hari dan tanggal di header */
.fc-toolbar-title,
.fc-col-header-cell-cushion {
    color: white;
    text-decoration: none;

    /* Mengatur warna teks menjadi putih */
}

.fc-col-header-cell-cushion:hover {
    color: white;
    text-decoration: none;
}

/* Mengatur warna teks untuk tanggal di dalam grid */
.fc-daygrid-day-number {
    color: white;
    text-decoration: none;

    /* Mengatur warna teks menjadi putih */
}

.fc-daygrid-day-number:hover {
    color: white;
    text-decoration: none;

    /* Mengatur warna teks menjadi putih */
}

.bg-calendar {
    background: #218838;
}

.btn-historybook {
    background-color: #507558;
    color: #f2f4e6;
}

.btn-historybook:hover {
    background-color: #8ddb5d;
    color: #1b1b1b;
}

.error-input {
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 5px;
    color: red;
    animation: slideDown 0.5s forwards;
}

.bg-payment {
    background-color: #e2e2e27b;
}


/* HOME PAGE */
.jumbotrons {
    margin-bottom: 4rem;
}

.jumbotrons-hr {
    max-width: 2rem;
}

.jumbotrons p,
h5 {
    font-family: 'Manrope', sans-serif;
}

.jumbotrons-card {
    width: 100%;
    /* Adjust as needed */
    height: 100%;
    /* Adjust as needed */
    /* border-radius: 5px; */
    border: #c7c7c7 solid 3pt;
    border-style: double;
    padding: 1rem;
    transition: 0.5s ease;
    font-size: 10pt;
}

.jumbotrons-card .card-body {
    height: 100%;
}

.jumbotrons-card:hover {
    border: #218838 solid 3pt;
    border-style: double;
    transition: 0.5s ease;

}

.jumbotrons-card img {
    width: 100%;
    margin: auto;
    object-fit: contain;
}

.latest-stories {
    position: relative;
}

.latest-camera {
    /* border: 2pt solid #000 !important; */
    position: relative;
    outline: none;

}

.img-container {
    position: relative;
}

.img-container-camera {
    position: relative;
    outline: none;
    border: none;
}

.img-container img {
    background: rgb(102, 102, 102);
    background: radial-gradient(circle, rgba(102, 102, 102, 0.16428578267244398) 0%, rgba(9, 9, 9, 1) 100%);
    /* Adjust the opacity value to darken the image more or less */
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 60%;
    filter: blur(1px);

}

.img-container-camera img {
    background: rgb(102, 102, 102);
    background: radial-gradient(circle, rgba(102, 102, 102, 0.16428578267244398) 0%, rgba(9, 9, 9, 1) 100%);
    /* Adjust the opacity value to darken the image more or less */
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 60%;
    /* filter: blur(1px); */
    border: none !important;
    filter: saturate(-15) contrast(2px) blur(1.5px);
    outline: none;

}

.img-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* Adjust the opacity value to darken the image more or less */
}

.img-container-camera .overlay-camera {
    position: absolute;
    border: none;
    outline: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* Adjust the opacity value to darken the image more or less */
}

.img-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 800;
}

.img-caption-camera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 800;
}

.img-caption p {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 5px;
}

.img-caption-camera h5 {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 5px;
}


.img-caption h2 {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 9px;
}

.img-caption-camera h2 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 9px;
}

/* HTML: <div class="loader"></div> */
.custom-loader {
    width: 100px;
    height: 100px;
    display: grid;
    animation: s4 4s infinite;
}

.custom-loader::before,
.custom-loader::after {
    content: "";
    grid-area: 1/1;
    border: 16px solid;
    border-radius: 50%;
    border-color: #2DA700 #2DA700 #0000 #0000;
    mix-blend-mode: darken;
    animation: s4 1s infinite linear;
}

.custom-loader::after {
    border-color: #0000 #0000 #000000 #000000;
    animation-direction: reverse;
}

@keyframes s4 {
    100% {
        transform: rotate(1turn)
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    transition: opacity 0.3s, visibility 0.3s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

/* Loader Styles */
/* .loader {
    background-color: rgba(145, 145, 145, 0.562);
    width: 100vw;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #1a682d;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
} */

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/* Hide content initially */
.hidden {
    display: none;
}


/* LATES STORIES ALBUM LIMIT 9*/
.latest-stories-img {
    position: relative;
    overflow: hidden;
    /* Memastikan teks caption tetap di dalam kotak gambar */
}

.img-container-latest {
    position: relative;
}

.img-container-latest img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    /* Memastikan gambar tampil dengan benar di dalam container */
}

.overlay-latest-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* Opacity value untuk mengatur transparansi latar belakang */
    z-index: 1;
    /* Memastikan overlay berada di atas gambar */
}

.caption-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    /* Sesuaikan padding sesuai kebutuhan */
    box-sizing: border-box;
    /* Memastikan padding tidak mempengaruhi ukuran total caption */
    color: white;
    z-index: 2;
    /* Memastikan caption berada di atas overlay */
    font-family: 'Manrope', sans-serif;
    opacity: 1;
    /* Pastikan opacity cukup tinggi */
    transform: translateZ(0);
}

.caption-overlay h4 {
    margin: 0;
    font-weight: 600;
    opacity: 60%;
    font-size: 25px;
    z-index: 4;
    text-transform: uppercase;
    /* Sesuaikan ukuran font sesuai kebutuhan */
}

.caption-overlay p {
    margin: 0;
    z-index: 4;
    /* font-weight: 600; */
    opacity: 70%;
    font-size: 14px;
    font-family: 'Playwrite NZ';
    /* Sesuaikan ukuran font sesuai kebutuhan */
}

.wave-container {
    width: 100%;
}

.wave-img {
    width: 100%;
}

@media (max-width: 768px) {
    .wave-img {
        width: 100%;
        /* Kembali ke ukuran aslinya pada layar yang lebih besar */
    }
}

.signup-section {
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url("/storage/frontend_assets/background/footer-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.contact-section {
    padding-top: 5rem;
}

.contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #2DA700;
}

.contact-section .card h4,
.contact-section .card .h4 {
    font-size: 0.8rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

/* .contact-section .card hr {
    opacity: 1;
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 3rem;
} */

.contact-section .social {
    margin-top: 5rem;
}



/* .contact-section .social a {
    text-align: center;
    height: 4rem;
    width: 4rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
} */


.social a:hover {
    color: #fff !important;
}

.footer {
    padding: 5rem 0;
}

/* END LATEST STORIES ALBUM LIMIT 9 */

/* STORIES */
.stories-img {
    position: relative;
    overflow: hidden;
    /* Memastikan teks caption tetap di dalam kotak gambar */
}

.stories-img-container {
    position: relative;
}

.stories-img-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    /* Memastikan gambar tampil dengan benar di dalam container */
}

.container-stories {
    padding: 0 8rem 0 8rem;
}

@media (max-width: 768px) {
    .stories-img-container img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
        /* Memastikan gambar tampil dengan benar di dalam container */
    }

    .container-stories {
        padding: 0;
    }
}

/* END STRORIES */

/* ALBUM FOTO */
.album-img-container {
    /* position: relative; */
    width: 100%;
}



.album-img-container img {

    width: 700px;
    height: auto;
}



/* END ALBUM FOTO */

/* RENTAL CAMERA PACKAGE INFO */

.card-rental {
    border-radius: 0;
}

.rental-img-container {
    height: 100%;
    width: 100%;
}

.rental-img-container img {
    border-radius: 0;

    height: 200px;
    object-fit: cover;
    object-position: center;
}

.detail-camera-img {
    /* height: 100%; */
    width: 100%;
}

.detail-camera-img img {
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.image-indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image-indicators img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.image-indicators img.active {
    border-color: #337ab7;
}

@media (max-width: 768px) {

    .detail-camera-img {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .detail-camera-img img {
        margin: 0px;
        padding: 0px;
        height: 100%;
        max-height: 400px;
        object-fit: cover;
        object-position: center;
    }

    iframe {
        width: 300px;
        height: 200px;
    }
}

/* RIBBON STATUS KETERSEDIAAN UNIT KAMERA */

/* .ribbon {
     position: absolute;
     top: 0;
     left: 0;
     background-color: #dc3545;
     color: white;
     padding: 0.5rem 1rem;
     transform: rotate(-45deg);
     transform-origin: 0 0;
     z-index: 1;
 } */

/* END RENTAL CAMERA PACKAGE INFO */

.why-us {
    background: url('/storage/frontend_assets/background/bg-why-us.jpg') no-repeat;
    /* filter: contrast(1.05); */
    background-size: cover;
    color: white;
    background-position: top;
}



.jumbotrons-card img {
    filter: invert(1);
    opacity: 50%;
}

.wave-container-2 {
    background: linear-gradient(to bottom, rgba(37, 37, 37, 0.068), rgb(0, 0, 0));
}

.wave-container-1 {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.btn-success {
    background-color: #218838;
    border: none;
}

.btn-success:hover {
    background-color: #6d9e4e;
    border: none;
}

/* ABOUT US */

.about-us-header {
    background:
        linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
        url('/storage/frontend_assets/background/bg-about-us.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
}

.about-us-middle {
    background: #090909;
    background: -webkit-linear-gradient(0deg, #090909 0%, #333333 50%, #01050a 100%);
    background: linear-gradient(0deg, #090909 0%, #333333 50%, #01050a 100%);
}

.about-us-title {
    font-family: "Urbanist", sans-serif;
    font-size: 50pt;
}

.about-us-subtitle {
    font-family: "Urbanist", sans-serif;
    word-spacing: 5px;
    letter-spacing: 5px;
}

.about-us-container p {
    font-family: "Urbanist", sans-serif;
}

.instagram-media {
    border-radius: 0 !important;
    height: 477px;
    /* width: 300px; */
    /* object-position: center !important; */
}

.card-about {
    height: 100%;
}

.card-about img {
    height: 500px;
    object-fit: cover;
    object-position: center;

    transition: transform 0.5s ease, filter 0.5s ease;
}

.card-about .about-img-container img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    /* transition: filter 0.5s ease; */
}

.card-about .about-img-container {
    overflow: hidden;
    height: 500px;

}

.about-footer-content {
    width: 1200px;
    margin: auto;
}

@media (max-width:768px) {
    .about-footer-content {
        width: 100%;
    }
}


.text-footer {
    /* padding: 5rem; */
    padding: 5rem;
}

.text-footer h2 {
    font-family: 'Poiret One', sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;

}

.text-footer p {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-style: normal;

}

#about-img-footer-container img {
    height: 600px;
    width: 100%;
    filter: saturate(0) contrast(1.3);
    object-fit: cover;
    object-position: center;
}


/* .footer-content {
    margin-block: 4.5rem;
} */

/* END HOME */